{
  "presets": [
    "stage-0",
    "react",
    [ "env", {
      "modules": false,
      "useBuiltIns": true,
      "targets": {
        "browsers": [
          "last 2 Chrome versions",
          "last 2 Firefox versions",
          "last 1 Safari version"
        ]
      }
    } ]
  ],
  "env": {
    "test": {
      "plugins": [
        "dynamic-import-node",
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
