# IDEs
.idea/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# macOS
*.DS_Store

# eslint cache file
.eslintcache

# client build
dist/

# analyzer report
webpack_analyzer_report.html

# client tests coverage report
tests/coverage

# application secrets, tokens, etc.
constants.secrets.js
