{
  "reportNeedlessDisables": true,
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-css-modules"
  ],
  "rules": {
    "at-rule-blacklist": null,
    "at-rule-name-newline-after": "always-multi-line",
    "at-rule-no-vendor-prefix": true,
    "at-rule-whitelist": null,
    "block-closing-brace-space-after": "always-single-line",
    "block-closing-brace-space-before": "always-single-line",
    "block-no-single-line": true,
    "block-opening-brace-newline-before": null,
    "block-opening-brace-space-after": "always-single-line",
    "block-opening-brace-space-before": "always",
    "color-named": "never",
    "color-no-hex": true,
    "comment-word-blacklist": null,
    "custom-media-pattern": null,
    "custom-property-no-outside-root": null,
    "custom-property-pattern": null,
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-ignored-properties": true,
    "declaration-block-no-redundant-longhand-properties": [ true, { "ignoreShorthands": [ "font", "background" ] } ],
    "declaration-block-properties-order": null,
    "declaration-block-semicolon-newline-before": null,
    "declaration-no-important": null,
    "declaration-property-unit-blacklist": null,
    "declaration-property-unit-whitelist": null,
    "declaration-property-value-blacklist": null,
    "declaration-property-value-whitelist": null,
    "font-family-name-quotes": "always-where-recommended",
    "font-weight-notation": "numeric",
    "function-blacklist": null,
    "function-comma-newline-before": null,
    "function-url-data-uris": null,
    "function-url-no-scheme-relative": null,
    "function-url-quotes": "always",
    "function-url-scheme-whitelist": null,
    "function-whitelist": null,
    "max-line-length": null,
    "max-nesting-depth": null,
    "media-feature-name-blacklist": null,
    "media-feature-name-no-vendor-prefix": true,
    "media-feature-name-whitelist": null,
    "media-feature-no-missing-punctuation": true,
    "media-query-list-comma-newline-before": null,
    "no-browser-hacks": true,
    "no-descending-specificity": true,
    "no-duplicate-selectors": true,
    "no-indistinguishable-colors": [ true, { "threshold": 1 } ],
    "no-unknown-animations": true,
    "no-unsupported-browser-features": [ true, { "browsers": "last 2 Chrome versions, last 2 Firefox versions, last 1 Safari version" } ],
    "number-max-precision": 4,
    "property-blacklist": null,
    "property-no-vendor-prefix": true,
    "property-whitelist": null,
    "root-no-standard-properties": true,
    "selector-attribute-operator-blacklist": null,
    "selector-attribute-operator-whitelist": null,
    "selector-attribute-quotes": "always",
    "selector-class-pattern": null,
    "selector-id-pattern": null,
    "selector-list-comma-newline-before": null,
    "selector-list-comma-space-after": "always-single-line",
    "selector-max-compound-selectors": 4,
    "selector-max-specificity": null,
    "selector-nested-pattern": null,
    "selector-no-attribute": null,
    "selector-no-combinator": null,
    "selector-no-empty": true,
    "selector-no-id": true,
    "selector-no-qualifying-type": [ true, { "ignore": [ "attribute" ] } ],
    "selector-no-type": null,
    "selector-no-universal": null,
    "selector-no-vendor-prefix": true,
    "selector-pseudo-class-blacklist": null,
    "selector-pseudo-class-whitelist": null,
    "selector-root-no-composition": true,
    "selector-type-no-unknown": true,
    "string-quotes": "double",
    "stylelint-disable-reason": null,
    "time-no-imperceptible": true,
    "unit-blacklist": null,
    "unit-whitelist": null,
    "value-keyword-case": "lower",
    "value-list-comma-newline-before": null,
    "value-no-vendor-prefix": true
  }
}
