@import "config/variables";

.root {
  flex-shrink: 0;
  width: 350px;
  border-right: 1px solid var(--color-pearl-gray);
  background-color: var(--color-white);
  overflow-y: auto;
  overflow-x: hidden;

  &--loading,
  &--empty {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--loading::before {
    content: "Loading...";
  }

  &--empty::before {
    content: "Nothing new. Back to work.";
  }
}
