@import "config/variables";

.root {
  flex-shrink: 0;
  width: 350px;
  height: 100%;
  border-right: 1px solid var(--color-pearl-gray);
  background-color: var(--color-white);
  overflow: auto;

  &Loading {
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "Loading...";
    }
  }
}
