@import "config/variables";

.root {
  flex-shrink: 0;
  width: 200px;
  height: 100%;
}

.menu {
  display: block;
  padding: 20px 10px;
  margin: 0;
  list-style: none;
}

.menuLink {
  color: var(--color-white);
}
