@import "config/variables";

.root {
  display: block;
  padding: 0.9em 1em;
  border-bottom: 1px solid var(--color-pearl-gray);
  border-left: 6px solid transparent;

  &:hover {
    background-color: var(--color-pearl-gray);
  }
}

.avatar {
  display: block;
  margin-right: 0.5em;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;

  @media (--large) {
    width: 64px;
    height: 64px;
  }
}

.name,
.subject,
.description {
  margin: 0;
}

.name {
  color: var(--color-concrete-gray);
}

.description {
  color: var(--color-deep-gray);
}
